<p>Create a timer</p>
<form [formGroup]=timerForm (ngSubmit)="createTimer()" ngNativeValidate>

  <label for="hours">Hrs
    <input name="hours" #hoursTpl formControlName="hours" required id="hours" min="0" max="12" type="number" pattern=".{2}">
  </label>

  <label for="minutes">Mins
    <input name="minutes" #minutesTpl formControlName="minutes" required id="minutes" min="1" max="59" type="number" pattern=".{2}">
  </label>

  <label for="timer_type"> Type
    <select required name="timer-type" formControlName="timerType" id="timer_type">
      <option value=""></option>
      <option value="Stretching">Stretching</option>
      <option value="Workout">Workout</option>
      <option value="Chilling">Chilling</option>
    </select>
  </label>

  <div class="button-wrapper">
    <button tabindex=0 type="submit">
      Add Timer
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>

</form>

<p class="timer-confirmation" *ngIf="timerAdded | async">Custom Timer added!</p>

