<section class="control-panel">
  <div class="profile-area">
    <div class="profile-content-wrapper">
      <i class="fas fa-cogs" (click)=showSettingsMenu()></i>
    </div>
        <app-profile-settings
          (profileEmitter)="showProfileSection($event)"
          [displayMenu]="showMenu"
        ></app-profile-settings>
  </div>
  <div class="control-content">
    <app-create-timer></app-create-timer>
    <app-options-slide
      [slideIn]="setSlidingState()"
      (slideOutEmitter)="showProfileSection($event)">
    </app-options-slide>
  </div>
</section>

