<section class="control-panel">
  <div class="profile-area">
    <div class="profile-content-wrapper">
      <i class="fas fa-cogs" (click)=showSettingsMenu()></i>
      <i class="far fa-clock" (click)=showMobileControlPanel()></i>
    </div>
        <app-profile-settings
          [displayMenu]="showMenu"
        ></app-profile-settings>
  </div>
  <div class="control-content" [ngClass]="{'off-screen-timer-controls': toggleTimerControl}">
    <app-create-timer></app-create-timer>
    <button
      *ngIf="alarmState$ | async"
      class="stop-alarm"
      (click)="hideAlarmButton(alarmTypes.REGULAR)">Stop alarm</button>
    <!--      Add an icon here which will have an animation-->
    <!--      <i></i>-->
    <app-create-custom-timer></app-create-custom-timer>
    <button
      *ngIf="customAlarmState$ | async"
      class="stop-alarm"
      (click)="hideAlarmButton(alarmTypes.CUSTOM)">Stop alarm</button>
    <div class="stop-alarm-container">

    </div>
    <app-options-slide>
    </app-options-slide>
  </div>
</section>

