@import '../../shared/general-style/general-style';

section {
  width: $control-panel-width;
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 1px 1px 5px 0 $base-text-color;
  -moz-box-shadow: 1px 1px 5px 0 $base-text-color;
  box-shadow: 1px 1px 5px 0 $base-text-color;

  @media screen and (min-width: 767px) and (max-width: 1024px) {
    width: 355px;
  }

  @media screen and (max-width: 450px) {
    height: 50px;
    position: absolute;
    width: 100%;
  }

  .profile-area {
    width: 100%;
    background-image: $flat-green-gradient;

    .profile-content-wrapper {
      width: 360px;
      margin: auto;
      display: flex;
      align-items: center;
      height: 100px;
      justify-content: space-between;

      @media screen and (max-width: 450px) {
        height: 50px;
        width: 100%;
      }

      i {
        color: white;
        cursor: pointer;
        font-size: 45px;
        @include transition-blueprint(.2s);

        @media screen and (min-width: 767px) and (max-width: 1024px) {
          margin-left: 10px;
        }

        &:hover {
          color: $base-text-color;
        }

        &:nth-of-type(2) {
          display: none;

          @media screen and (max-width: 450px) {
            display: unset;
            margin-right: 20px;
          }
        }

        @media screen and (max-width: 450px) {
          font-size: 25px;
          margin-left: 20px;
        }
      }
    }
  }

  .control-content {
    height: 100vh;
    text-align: center;
    background-color: white;

    @media screen and (max-width: 450px) {
      @include transition-blueprint(0.2s);
      transform: translateX(500px);
      will-change: translate;
      position: absolute;
    }

    .stop-alarm {
      background-color: $base-text-color;
      font-size: 17px;
      padding: 7px;
      cursor: pointer;
      margin-top: 20px;
    }

    .add-timer {
      padding: 10px;
    }

    .add-timer, .stop-alarm {
      color: white;
      outline: none;
      border: none;
      border-radius: 5px;
    }
  }
}

.off-screen-timer-controls {
  transform: translateX(0) !important;
}

