@import "../common-form-styles/common-form-styles";
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  background: white;

  .signup-form-body {
    transition-delay: .05s;
    width: 100%;
    transform: translateZ(0);
    overflow: hidden;
    margin-left: -350px;

    @include transition-blueprint(.6s);

    @media screen and (max-width: 450px) {
      margin-left: 0;
    }

    small {

      &:nth-of-type(3) {
        margin-top: 157px;
      }
    }

    button {
      font-size: 15px;
    }
  }
}

.signup-messages {
  bottom: 30px;

  @media screen and (max-width: 450px) {
    bottom: 50px;
  }

  .mobile-sign-up-message {

    @media screen and (min-width: 450px) {
      display: none;
    }
  }

  .desktop-tablet-sign-up-message {

    @media screen and (max-width: 450px) {
      display: none;
    }
  }
}

