
/* Base text colors, transitions and background gradients */
$base-text-color: #362843;
$royal-red-gradient: linear-gradient(-60deg, #ff6e6e 0%, #790909 100%);
$error-color: #ff6e6e;
$base-green-color: #41c7af;
$flat-green-gradient: linear-gradient(-60deg, #41c7af 0%, #54e38e 100%);
$flat-green-gradient-reverse: linear-gradient(-60deg, #54e38e 0%, #41c7af 100%);
$hover-button-color: #cd2222;
$pink-default: #ff6e6e;
$control-panel-width: 400px;
$default-transition: all .1s linear;
$base-font-size: 20px;
$smaller-base-font-size: $base-font-size - 2px;
$general-font-family: Roboto, "Helvetica Neue", sans-serif;

countdown {
  padding: 10px 25px;
  border-radius: 10px;
}

/* Form Validation classes */

.hide-input-validation {
  display: none;
}

.slide-in-password {
  transform: translateX(0) !important;
}

/* mixins */

@mixin base-box-shadow {
  -webkit-box-shadow: -1px 6px 12px -5px #000000;
  box-shadow: -1px 6px 12px -5px #000000;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
