
/* Base text colors, transitions and background gradients */
$base-text-color: #362843;
$royal-red-gradient: linear-gradient(-60deg, #ff6e6e 0%, #790909 100%);
$hover-button-color: #cd2222;
$default-transition: all .1s linear;


/* Form Validation classes */

.hide-input-validation {
  display: none;
}

.slide-in-password {
  transform: translateZ(0) translateX(0) !important;
}

/* mixins */

@mixin for-small-height {
  @media (max-height: 599px) { @content; }
}
