<div class="login-form-wrapper">
  <div class="login-form-body" [ngStyle]="{'transform': bringInForgottenPass ? 'translateY(-50px)': 'translateY(0)'}"
       [ngClass]="{'move-log-in-form':formMoveInitiated}">
    <h2>Log in</h2>
    <form [formGroup]=loginForm (ngSubmit)="onSubmitLogin()">
      <label for="email"></label>
      <input required id="email" formControlName="email"  #loginEmailRef placeholder="Email" type="email">
      <small [class.hide-input-validation]="
        loginEmail.value === '' ||
        loginEmail.valid ||
        loginEmail.untouched">
        Email format not valid/Use only lowercase
      </small>
      <label for="password"></label>
      <input required id="password" formControlName="password" placeholder="Password" type="password">
      <small [class.hide-input-validation]="
        loginPassword.value === '' ||
        loginPassword.valid ||
        loginPassword.untouched">
        Password is too short (Min 9 chars)
      </small>
      <button [disabled]="
      (isUserSignedIn | async) === true ||
      loginEmail.invalid ||
      loginPassword.invalid" type="submit">Log in
      </button>
      <span *ngIf="(loaderSub | async) === false" class="loader"></span>
    </form>
    <p (click)="bringInForgottenPassword()" class="forgotten-password">Forgot password?</p>

    <form class="forgotten-form" [ngClass]="{'bring-in-forgotten':!formMoveInitiated && bringInForgottenPass}"
          [formGroup]="forgottenPassForm" (ngSubmit)="onSubmitForgottenPass()">
      <label for="forgottenPass"></label>
      <input #forgottenPassRef id="forgottenPass" type="email" formControlName="forgottenPassEmail"
             placeholder="Your Email Address">
      <button
        [disabled]="forgottenSubmitted ||
                    forgottenPassEmail.pristine ||
                    forgottenPassEmail.value === ''||
                    forgottenPassEmail.invalid"
        class="forgot-submit">
        <i class="fas fa-check-circle"></i>
      </button>
      <small *ngIf="forgottenPassEmail.pristine || forgottenPassEmail.value === ''">
        A new password will be sent to the provided email address
      </small>
      <small class="invalid-forgotten"
             *ngIf="forgottenPassEmail.value !== '' &&
                    forgottenPassEmail.invalid">
        Email format not valid/Use only lowercase
      </small>
      <small *ngIf="forgottenSubmitted" class="forgotten-confirmation">Password away!</small>
    </form>

  </div>
</div>
<div *ngIf="!bringInForgottenPass" class="notification-messages login-messages">
  <p *ngIf="(isUserSignedIn | async) === true">Welcome!</p>
  <p class="submission-error"
     *ngIf="!formMoveInitiated && isUserSignedIn !== undefined && (isUserSignedIn | async) !== true">{{ isUserSignedIn | async }}</p>
</div>
