
@import '../../../shared/general-style/general-style.scss';


section {
  transform: translateX(-400px);
  text-align: center;
  transition: 0.5s ease-in-out;
  will-change: translate;

  hr {
    border-width: 0;
    border-radius: 20px;
    width: 90%;
    height: 30px;
    background-color: white;
    margin-top: 0;
  }

  hr.upper-border {
    border-bottom: 2px solid #41c7af;
  }

  hr.bottom-border {
    border-top: 2px solid #41c7af;
  }

  .options-wrapper {
    text-align: left;
    margin: 20px auto 0 auto;
    padding-left: 30px;
    padding-bottom: 20px;

    input {
      margin-left: 10px;
    }

    button {
      font-size: 16px;
      margin-top: 20px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      color: white;
      background: $base-green-color;
      cursor: pointer;
    }
  }
}

.bring-in-options {
  transform: translateX(0);
}
