@import '../../shared/general-style/general-style';


h2 {
  color: $base-text-color;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  input {
    border: 1px solid green;
    border-radius: 4px;
    outline: none;
    color: $base-text-color;
    width: 75%;
    font-weight: bold;
    letter-spacing: 0.08rem;
    font-family: inherit;
    padding: 12px 10px 12px 10px;
    transition: all .2s linear;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

  }

  small {
    width: 75%;
    padding-top: 5px;
    text-align: left;
    position: absolute;
    font-weight: bold;
    color: #ff5858;

    &:nth-of-type(1) {
      margin-top: 39px;
    }

    &:nth-of-type(2) {
      margin-top: 101px;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
      text-align: center;
    }
  }

  button {

    &:not(.forgot-submit) {
      background-color: $base-text-color;
      border-radius: 15px;
      border: 1px solid transparent;
      margin-top: 20px;
      font-family: $general-font-family;
      color: white;
      font-weight: 500;
      padding: 8px 35px;
      outline: none;
      @include transition-blueprint(.2s);
    }

    &:disabled {
      background-color: white;
      cursor: $disabled-cursor;
      color: $base-text-color;
      border: 1px solid $base-text-color;
    }

    &:hover {

      &:not([disabled]) {

        &:not(.forgot-submit) {
          cursor: pointer;
          color: white;
          border-color: #41c7af;
          background-color: #41c7af;
        }
      }
    }

    &:focus {
      outline: none;
    }
  }
}

/* Movement classes */

.move-log-in-form {

  @media screen and (min-width: 450px) {
    margin-left: 350px;
  }
}

.move-sign-up-form {

  @media screen and (min-width: 450px) {
    margin-left: 0 !important;
  }
}

.move-log--in-wrapper-mobile {
  margin-left: 100px;
}

/* Loader */
.loader {
  position: absolute;
  right: 76px;
  bottom: 1px;
  font-size: 10px;
  text-indent: -9999em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #54e38e 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
  @include transition-blueprint(.2s);

  &:before {
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.notification-messages {
  position: absolute;
  pointer-events: none;
  width: 80%;

  @media screen and (max-width: 450px) {
    width: 90%;
  }

  p {

    &.submission-error {
      color: #ff6e6e;
    }

    font-weight: bold;
    font-size: 13px;
    text-align: center;
  }
}
