<p>Create a custom timer</p>
<form [formGroup]=customTimerForm (ngSubmit)="createCustomTimer()" ngNativeValidate>

  <label for="customHours">Hrs
    <input name="hours" #customHoursTpl formControlName="customHours" id="customHours" min="0" max="12" type="number" pattern=".{2}">
  </label>

  <label for="customMinutes">Mins
    <input name="minutes" #customMinutesTpl formControlName="customMinutes" required id="customMinutes" min="1" max="59" type="number" pattern=".{2}">
  </label>

  <label for="timer_description"> Timer title
    <input name="timerDescription" formControlName="customDescription" required type="text" id="timer_description"  maxLength="100">
  </label>

  <div class="button-wrapper">
    <button [disabled]="(totalCustomTimers$ | async) >= customTimerLimit" type="submit">
      Add Custom Timer
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>

</form>

<p class="timer-confirmation" *ngIf="customTimerAdded | async">Custom Timer added!</p>
<p class="timer-limit-warning" *ngIf="(totalCustomTimers$ | async) >= customTimerLimit">
  You have reached the custom timer limit. <br> Please delete one to continue adding more timers.
</p>
