@import '../../../shared/general-style/general-style';

.settings-menu {
  position: absolute;
  width: 0;
  height: 0;
  background: white;
  top: 70px;
  left: 83px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.75);
  overflow: hidden;
  z-index: 2;
  transform: translateZ(0);

  @include transition-blueprint(.2s);

  @media screen and (max-width: 450px) {
    top: 43px;
    left:47px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 4px;

    li {
      padding: 10px 0 10px 15px;
      cursor: pointer;
      display: block;

      @include transition-blueprint(.1s);

      &:hover {
        background-color: $base-text-color;
        color: white;
      }
    }
  }
}

/* toggle classes */

.show-settings-menu {
  width: 80px;
  height: 39px;
}
