@import '../../shared/general-style/general-style';

.floating-layout-wrapper {
  position: absolute;
  transform: translateZ(0);
  right: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  overflow:hidden;
  flex-wrap: wrap;
  background: $flat-green-gradient;

  @include transition-blueprint(0.7s);

  @media screen and (max-width: 450px) {
    height: 50px;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .floating-texts-wrapper {
    display: flex;

    div {
      width: 350px;
      text-align: center;
      color: white;

      @include transition-blueprint(0.7s);

      @media screen and (max-width: 450px) {

        @include transition-blueprint(0.3s);
      }

      p {
        padding: 0 20px;
        line-height: 22px;

        @media screen and (max-width: 450px) {
          display: none;
        }
      }
    }

    .floating-text-login {
      margin-left: -400px;
      transform: translateZ(0);
    }

    .floating-text-sign-up {
      text-align: center;
      color: white;
      margin-left: 50px;
      border-radius: 10px;
      transform: translateZ(0);

      p {
        padding: 0 20px;
        line-height: 22px;

        @media screen and (max-width: 450px) {
          display: none;
        }
      }
    }

    button {
      border: 1px solid white;
      border-radius: 15px;
      font-family: $general-font-family;
      color: white;
      margin-top: 10px;
      padding: 8px 35px;
      background-color: transparent;
      font-weight: 500;
      font-size: 15px;

      @include transition-blueprint(.2s);

      &.deactivate {
        pointer-events: none;
        background-color: grey;
        border: none;
        cursor: $disabled-cursor;
      }

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $base-text-color;
        border-color: transparent;
        outline: none;
      }

      &:focus {
        outline: none;
      }

      @media screen and (max-width: 450px) {
        border: none;
        width: 100%;
        font-size: 20px;
        border-radius: 0;
        padding: 14px;
        margin: 0;
      }
    }

    h2 {
      color: white;
      font-size: 27px;
      letter-spacing: 0.04rem;

      @media screen and (max-width: 450px) {
       display: none;
      }
    }
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.move-main-color-layer {
  margin-right: 350px;

  @media screen and (max-width: 450px) {
    margin: 0;
  }
}

.move-login-text {
  margin-left: 400px !important;
}
