@import '../../shared/general-style/general-style';

:host {
  display: block;
}

.custom-timer-title {
  text-align: center;
  width: 100%;
  color: $pink-default;
  font-size: $smaller-base-font-size;
  padding-bottom: 0;
  -webkit-box-shadow: 1px 3px 5px -1px rgba(255, 110, 110, 0.75);
  -moz-box-shadow: 1px 3px 5px -1px rgba(255, 110, 110, 0.75);
  box-shadow: 1px 3px 5px -1px rgba(255, 110, 110, 0.75);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-timer-wrapper {
  margin-top: 10px;

  .custom-timer-container {
    display: flex;
    align-items: center;
    @include base-box-shadow;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    countdown {
      color: #ff6e6e;
    }

    p {
      margin-left: 10px;
    }
  }
}

