@import 'app/shared/general-style/general-style.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  color: $base-text-color;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $base-text-color;
  font-weight: bold;
  opacity: 1; /* Firefox */
}

body {
  margin: 0;
  font-family: $general-font-family;
}

button {
  font-family: $general-font-family;
}

/* Angular Material styling */

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #41c7af;
}

