@import 'app/shared/general-style/general-style.scss';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: $base-text-color;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $base-text-color;
  font-weight: bold;
  opacity: 1; /* Firefox */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Angular Material styling */
.mat-form-field-underline {
  height: 0 !important;
}

.mat-focused .mat-form-field-label {

  .mat-form-field-label {
    color: $base-text-color;
  }
}

input.mat-input-element {
  color: $base-text-color;
  padding-left: 20px;
  caret-color: $base-text-color;
}

.mat-focused {
  .mat-form-field-underline {
    .mat-form-field-ripple {
      background: $base-text-color;
      width: calc(100% - 40px);
      margin-left: 20px;
    }
  }
}

.mat-form-field-invalid {

  .mat-form-field-underline {

    .mat-form-field-ripple {
      background: transparent;
    }
  }
}

.mat-form-field-appearance-legacy {

  .mat-form-field-label {
    color: $base-text-color;
  }
}

.mat-focused {
  .mat-form-field-label {
    color: $base-text-color !important;
  }
}

