@import '../../../../shared/general-style/general-style';

$control-panel-text-size: 20px;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  p {
    width: 90%;
    text-align: center;
    color: $pink-default;
    font-size: $base-font-size;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid $base-green-color;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

    label {
      font-size: $control-panel-text-size - 5;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    input {
      width: 40px;
      padding-left: 8px;
    }

    input, select {
      border: 1px solid $base-text-color;
      background: $base-green-color;
      border-radius: 20px;
    }

    .button-wrapper {
      width: 90%;
      border-top: 2px solid $base-green-color;
      border-radius: 20px;
      text-align: center;
      margin-top: 20px;

      button {
        color: white;
        background-color: $base-green-color;
        font-size: $control-panel-text-size - 3;
        outline: none;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 8px;
        padding: 5px;
        transition: all .2s linear;
        border: 1px solid $base-text-color;

        &:hover {
          background-color: $base-text-color;
        }
      }
    }
  }
}



