<app-timer-column *ngFor="let name of colNames" [colName]="name">
  <div class="timer-wrapper">
    <div class="timer-body">
      <ng-container
        *ngFor="let countdownTimer of countdownTimers">
        <countdown
          *ngIf="countdownTimer.timerType === name.timerName"
          [config]="{leftTime: countdownTimer.leftTime, format:countdownTimer.format, stopTime:0}">
        </countdown>
        <button *ngIf="ringTheAlarm && countdownTimer.timerType === name.timerName">Stop alarm</button>
        <br *ngIf="countdownTimer.timerType === name.timerName">
      </ng-container>
    </div>
  </div>
</app-timer-column>
<div class="bottom-separator"></div>
