@import '../../shared/general-style/general-style';

:host {
  height: 200px;
  display: flex;

  @media screen and (max-width: 450px) {
    margin-top: 50px;
  }

  .timer-wrapper {
    padding-top: 30px;
    overflow: hidden;

    .timer-body {
      height: 100%;
      overflow-y: auto;
      display: flex;
      align-items: center;
      flex-direction: column;

      i {
        padding-left: 10px;
      }
    }
  }
}
