<app-timer-column *ngFor="let name of colNames, let colIndex = index" [colName]="name">
  <div class="timer-wrapper">
    <div class="timer-body">
      <ng-container
        *ngFor="let countdownTimer of countdownTimers">
        <countdown
          (event) = "handleCountdownStop($event)"
          *ngIf="countdownTimer.timerType === name.timerName"
          [config]="{
            leftTime: countdownTimer.leftTime
          }">
        </countdown>
        <br *ngIf="countdownTimer.timerType === name.timerName">
      </ng-container>
    </div>
  </div>
</app-timer-column>
