@import '../../shared/general-style/general-style';

:host {
  width: calc(100% - 400px);
  height: 200px;
  display: flex;

  .timer-wrapper {
    padding-top: 30px;
    height: 100vh;
    overflow: hidden;

    .timer-body {
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      i {
        padding-left: 10px;
      }

    }
  }

  .bottom-separator {
    position: absolute;
    top: 200px;
    width: calc(100vw - 400px);
    left: 400px;
    height: 4px;
    background: $base-green-color;
  }
}
