@import '../shared/general-style/general-style';

:host {
  display: flex;
}

.timers-wrapper {
  width: calc(100% - 400px);
}

.third-party-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;

  a {
    color: $base-green-color;
  }
}

