@import '../shared/general-style/general-style';

:host {
  display: flex;
}

.timers-wrapper {
  width: calc(100% - 400px);

  @media screen and (max-width:450px) {
    width: 100%;
  }

  @media screen and (min-width: 767px) and (max-width: 1024px) {
    width: calc(100% - 355px);
  }
}

